# Web Scraping of Largest Companies by Revenue

This notebook demonstrates how to scrape data from the Wikipedia page on the largest companies by revenue: [List of largest companies by revenue](https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue). We will process the data to handle complex HTML structures, such as tables with merged cells (`rowspan`), and extract the relevant information into a clean tabular format.

## 1. **Imports and Initial Setup**
In the first step, we import the necessary libraries: `BeautifulSoup` for parsing HTML and `requests` for making the HTTP request to fetch the page content.

In [1]:
from bs4 import BeautifulSoup as bs
import requests

## 2. **Fetching the Web Page**
We fetch the content of the Wikipedia page using `requests` and parse it with BeautifulSoup.

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
header = {'User-Agent': 'Mozilla/5.0'}
page = requests.get(url, headers=header, timeout=10)
soup = bs(page.content, 'html.parser')

- `url`: The target page URL.
- `header`: A `User-Agent` header to simulate a browser request.
- `requests.get`: Fetches the page content.
- `BeautifulSoup`: Parses the HTML content for easy navigation.

## **3. Parsing the Table and Handling Rowspan**
The most complex part of this task is handling the `rowspan` attribute. This attribute allows cells to span across multiple rows, which can lead to misaligned data. We handle this by keeping track of rowspans and filling in the missing data where necessary.

### Extracting Table Data

In [3]:
table = soup.find_all('table', class_='wikitable')[0]
rows = table.find_all('tr')

headers = [header.get_text(strip=True) for header in rows[0].find_all('th')]
max_cols = len(headers)

`soup.find_all`: Finds all tables with the `wikitable` class.
`rows[0]`: Extracts the headers of the table.
`max_cols`: The maximum number of columns based on the header row.

### Handling Rowspan

In [4]:
countries = []
rowspans = []
len_data = []

for row_idx, row in enumerate(rows[2:]):
    tmp_data = [None] * max_cols  # prefill dengan None
    actual_cols = row.find_all(['th', 'td'])
    col_cursor = 0

    # Pasang data dari rowspan aktif
    for data in rowspans:
        if data['total_rows'] >= 0:
            tmp_data[data['col_index']] = data['value']

    for col in actual_cols:
        # Skip kolom yang sudah terisi dari rowspan
        while tmp_data[col_cursor] is not None:
            col_cursor += 1

        value = col.get('data-sort-value', col.get_text(strip=True))
        tmp_data[col_cursor] = value

        if col.has_attr('rowspan'):
            rowspans.append({
                'col_index': col_cursor,
                'total_rows': int(col['rowspan']) - 1,
                'value': value
            })

        col_cursor += 1

    # Update rowspans: kurangi total_rows, hapus jika selesai
    for data in rowspans[:]:
        data['total_rows'] -= 1
        if data['total_rows'] < 0:
            rowspans.remove(data)

    countries.append(tmp_data)

- `rowspans`: A list to store the state of active rowspans.
- `tmp_data`: A temporary list to hold the data for each row, with `None` as placeholders for missing values.
- `col_cursor`: Tracks the current column index to prevent overwriting cells.

### Final Table Extraction
We extract the final cleaned data and print it out for inspection.

In [5]:
print(headers)
for country in countries:
    print(country)

['Rank', 'Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]', 'State-owned', 'Ref.']
['1', 'Walmart', 'Retail', '$680,985', '$19,436', '2,100,000', 'United States', 'No', '[1]']
['2', 'Amazon', 'Retailinformation technology', '$637,959', '$59,248', '1,556,000', 'United States', 'No', '[4]']
['3', 'State Grid Corporation of China', 'Electricity', '$545,948', '$9,204', '1,361,423', 'China', 'Yes', '[5]']
['4', 'Saudi Aramco', 'Oil and gas', '$480,446', '$106,246', '73,311', 'Saudi Arabia', 'Yes', '[6]']
['5', 'China Petrochemical Corporation', 'Oil and gas', '$429,700', '$9,393', '513,434', 'China', 'Yes', '[7]']
['6', 'China National Petroleum Corporation', 'Oil and gas', '$476,000', '$25,250', '1,026,301', 'China', 'Yes', '[8]']
['7', 'UnitedHealth Group', 'Healthcare', '$400,278', '$14,405', '400,000', 'United States', 'No', '[9]']
['8', 'Apple', 'Information technology', '$391,035', '$93,736', '164,000', 'United States', 'No', '[10]']
['9', 'Berkshire Hathaway', 'Financials', '$371,433', '$88,995', '392,400', 'United States', 'No', '[11]']
['10', 'CVS Health', 'Healthcare', '$357,776', '$8,344', '259,500', 'United States', 'No', '[12]']
['11', 'Alphabet', 'Information technology', '$350,018', '$100,118', '183,323', 'United States', 'No', '[13]']
['12', 'Volkswagen Group', 'Automotive', '$348,408', '$17,945', '684,025', 'Germany', 'No', '[14]']
['13', 'ExxonMobil', 'Oil and gas', '$344,582', '$36,010', '61,500', 'United States', 'No', '[15]']
['14', 'Vitol', 'Commodities', '$331,000', '$13,000', '1,560', 'Switzerland', 'No', '[16][17]']
['15', 'Shell', 'Oil and gas', '$323,183', '$19,359', '103,000', 'United Kingdom', 'No', '[18]']
['16', 'China State Construction Engineering', 'Construction', '$320,431', '$4,272', '382,894', 'China', 'Yes', '[19]']
['17', 'Toyota', 'Automotive', '$312,018', '$34,214', '380,793', 'Japan', 'No', '[20]']
['18', 'McKesson', 'Healthcare', '$308,951', '$3,002', '48,000', 'United States', 'No', '[21]']
['19', 'Cencora', 'Healthcare', '$262,173', '$1,745', '44,000', 'United States', 'No', '[22]']
['20', 'Microsoft', 'Information technology', '$245,122', '$88,136', '228,000', 'United States', 'No', '[23]']
['21', 'Trafigura', 'Commodities', '$244,280', '$7,393', '12,479', 'Singapore', 'No', '[24]']
['22', 'Costco', 'Retail', '$242,290', '$6,292', '316,000', 'United States', 'No', '[25]']
['23', 'JPMorgan Chase', 'Financials', '$239,425', '$49,552', '309,926', 'United States', 'No', '[26]']
['24', 'Industrial and Commercial Bank of China', 'Financials', '$222,484', '$51,417', '419,252', 'China', 'Yes', '[27]']
['25', 'TotalEnergies', 'Oil and gas', '$218,945', '$21,384', '102,579', 'France', 'No', '[28]']
['26', 'Glencore', 'Commodities', '$217,829', '$4,280', '83,426', 'Switzerland', 'No', '[29]']
['27', 'BP', 'Oil and gas', '$213,032', '$15,239', '79,400', 'United Kingdom', 'No', '[30]']
['28', 'Cardinal Health', 'Healthcare', '$205,012', '$261', '47,520', 'United States', 'No', '[31]']
['29', 'Stellantis', 'Automotive', '$204,908', '$20,103', '258,275', 'Netherlands', 'No', '[32]']
['30', 'Chevron', 'Oil and gas', '$200,949', '$21,369', '45,600', 'United States', 'No', '[33]']
['31', 'China Construction Bank', 'Financials', '$199,826', '$46,990', '376,871', 'China', 'Yes', '[34]']
['32', 'Samsung Electronics', 'Electronics', '$198,257', '$11,082', '267,860', 'South Korea', 'No', '[35]']
['33', 'Foxconn', 'Electronics', '$197,876', '$4,563', '621,393', 'Taiwan', 'No', '[36]']
['34', 'Cigna', 'Healthcare', '$195,265', '$5,164', '71,413', 'United States', 'No', '[37]']
['35', 'Agricultural Bank of China', 'Financials', '$192,398', '$38,049', '451,003', 'China', 'Yes', '[38]']
['36', 'Schwarz Gruppe', 'Retail', '$180,576', '$16,988', '575,000', 'Germany', 'No', '[39]']
['37', 'China Railway Engineering Corporation', 'Construction', '$178,563', '$2,152', '314,149', 'China', 'Yes', '[40]']
['38', 'Cargill', 'Conglomerate', '$177,000', '$17,641', '160,000', 'United States', 'No', '[41]']
['39', 'Ford Motor Company', 'Automotive', '$176,191', '$4,347', '177,000', 'United States', 'No', '[42]']
['40', 'Bank of China', 'Financials', '$172,328', '$32,758', '306,931', 'China', 'Yes', '[43]']
['41', 'Bank of America', 'Financials', '$171,912', '$26,515', '212,985', 'United States', 'No', '[44]']
['42', 'General Motors', 'Automotive', '$171,842', '$10,127', '163,000', 'United States', 'No', '[45]']
['43', 'Elevance Health', 'Healthcare', '$171,340', '$5,987', '104,900', 'United States', 'No', '[46]']
['44', 'BMW Group', 'Automotive', '$168,103', '$12,205', '154,950', 'Germany', 'No', '[47]']
['45', 'Tata Group', 'Conglomerate', '$165,500', '$12,205', '1,028,000', 'India', 'No', '[48]']
['46', 'Mercedes-Benz Group', 'Automotive', '$165,638', '$15,417', '166,056', 'Germany', 'No', '[49]']
['47', 'China Railway Construction Corporation', 'Construction', '$160,847', '$1,701', '336,433', 'China', 'Yes', '[50]']
['48', 'Baowu', 'Steel', '$157,216', '$2,494', '258,697', 'China', 'Yes', '[51]']
['49', 'Citigroup', 'Financials', '$156,820', '$9,228', '237,925', 'United States', 'No', '[52]']
['50', 'Enel', 'Energy', '$147,100', '$3,400', '61,060', 'Italy', 'Yes', '[53]']

## **4. Converting Data to DataFrame**
Finally, we convert the cleaned data into a pandas DataFrame for easier manipulation and analysis.

In [6]:
import pandas as pd

df = pd.DataFrame(countries, columns=headers)
df

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned,Ref.
0,1,Walmart,Retail,"$680,985","$19,436","2,100,000",United States,No,[1]
1,2,Amazon,Retailinformation technology,"$637,959","$59,248","1,556,000",United States,No,[4]
2,3,State Grid Corporation of China,Electricity,"$545,948","$9,204","1,361,423",China,Yes,[5]
3,4,Saudi Aramco,Oil and gas,"$480,446","$106,246","73,311",Saudi Arabia,Yes,[6]
4,5,China Petrochemical Corporation,Oil and gas,"$429,700","$9,393","513,434",China,Yes,[7]
5,6,China National Petroleum Corporation,Oil and gas,"$476,000","$25,250","1,026,301",China,Yes,[8]
6,7,UnitedHealth Group,Healthcare,"$400,278","$14,405","400,000",United States,No,[9]
7,8,Apple,Information technology,"$391,035","$93,736","164,000",United States,No,[10]
8,9,Berkshire Hathaway,Financials,"$371,433","$88,995","392,400",United States,No,[11]
9,10,CVS Health,Healthcare,"$357,776","$8,344","259,500",United States,No,[12]
10,11,Alphabet,Information technology,"$350,018","$100,118","183,323",United States,No,[13]
11,12,Volkswagen Group,Automotive,"$348,408","$17,945","684,025",Germany,No,[14]
12,13,ExxonMobil,Oil and gas,"$344,582","$36,010","61,500",United States,No,[15]
13,14,Vitol,Commodities,"$331,000","$13,000","1,560",Switzerland,No,[16][17]
14,15,Shell,Oil and gas,"$323,183","$19,359","103,000",United Kingdom,No,[18]
15,16,China State Construction Engineering,Construction,"$320,431","$4,272","382,894",China,Yes,[19]
16,17,Toyota,Automotive,"$312,018","$34,214","380,793",Japan,No,[20]
17,18,McKesson,Healthcare,"$308,951","$3,002","48,000",United States,No,[21]
18,19,Cencora,Healthcare,"$262,173","$1,745","44,000",United States,No,[22]
19,20,Microsoft,Information technology,"$245,122","$88,136","228,000",United States,No,[23]
20,21,Trafigura,Commodities,"$244,280","$7,393","12,479",Singapore,No,[24]
21,22,Costco,Retail,"$242,290","$6,292","316,000",United States,No,[25]
22,23,JPMorgan Chase,Financials,"$239,425","$49,552","309,926",United States,No,[26]
23,24,Industrial and Commercial Bank of China,Financials,"$222,484","$51,417","419,252",China,Yes,[27]
24,25,TotalEnergies,Oil and gas,"$218,945","$21,384","102,579",France,No,[28]
25,26,Glencore,Commodities,"$217,829","$4,280","83,426",Switzerland,No,[29]
26,27,BP,Oil and gas,"$213,032","$15,239","79,400",United Kingdom,No,[30]
27,28,Cardinal Health,Healthcare,"$205,012",$261,"47,520",United States,No,[31]
28,29,Stellantis,Automotive,"$204,908","$20,103","258,275",Netherlands,No,[32]
29,30,Chevron,Oil and gas,"$200,949","$21,369","45,600",United States,No,[33]
30,31,China Construction Bank,Financials,"$199,826","$46,990","376,871",China,Yes,[34]
31,32,Samsung Electronics,Electronics,"$198,257","$11,082","267,860",South Korea,No,[35]
32,33,Foxconn,Electronics,"$197,876","$4,563","621,393",Taiwan,No,[36]
33,34,Cigna,Healthcare,"$195,265","$5,164","71,413",United States,No,[37]
34,35,Agricultural Bank of China,Financials,"$192,398","$38,049","451,003",China,Yes,[38]
35,36,Schwarz Gruppe,Retail,"$180,576","$16,988","575,000",Germany,No,[39]
36,37,China Railway Engineering Corporation,Construction,"$178,563","$2,152","314,149",China,Yes,[40]
37,38,Cargill,Conglomerate,"$177,000","$17,641","160,000",United States,No,[41]
38,39,Ford Motor Company,Automotive,"$176,191","$4,347","177,000",United States,No,[42]
39,40,Bank of China,Financials,"$172,328","$32,758","306,931",China,Yes,[43]
40,41,Bank of America,Financials,"$171,912","$26,515","212,985",United States,No,[44]
41,42,General Motors,Automotive,"$171,842","$10,127","163,000",United States,No,[45]
42,43,Elevance Health,Healthcare,"$171,340","$5,987","104,900",United States,No,[46]
43,44,BMW Group,Automotive,"$168,103","$12,205","154,950",Germany,No,[47]
44,45,Tata Group,Conglomerate,"$165,500","$12,205","1,028,000",India,No,[48]
45,46,Mercedes-Benz Group,Automotive,"$165,638","$15,417","166,056",Germany,No,[49]
46,47,China Railway Construction Corporation,Construction,"$160,847","$1,701","336,433",China,Yes,[50]
47,48,Baowu,Steel,"$157,216","$2,494","258,697",China,Yes,[51]
48,49,Citigroup,Financials,"$156,820","$9,228","237,925",United States,No,[52]
49,50,Enel,Energy,"$147,100","$3,400","61,060",Italy,Yes,[53]

- `pandas`: A powerful data analysis library that allows easy handling of tabular data.
- `DataFrame`: Converts the list of countries into a DataFrame.

## **5. Conclusion**
This notebook demonstrates how to scrape and process a complex table from a Wikipedia page, handling merged cells (`rowspan`) and presenting the data in a clean format using pandas. The final output is a DataFrame containing the largest companies by revenue, ready for analysis or further processing.

### Possible Improvements:
- Add error handling (e.g., for network failures or parsing errors).
- Extend the notebook to scrape additional pages or handle other table structures.
- Add visualizations for better insights (e.g., plotting the top companies by revenue).